@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Company.MaintenanceApplication</title>
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    @{ await Html.RenderPartialAsync("_SiteCssPartial"); }
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
@if (SignInManager.IsSignedIn(User))
{
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">                    
                <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@*<img src="~/images/logo.jpg"  alt="Company.MaintenanceApplication" style="margin-top: -15px;"/>*@Application Name/Logo</a>
            
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="mr-auto navbar-nav">
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        
    </nav>    
}
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Company.MaintenanceApplication</p>
        </footer>
    </div>

    @{ await Html.RenderPartialAsync("_SiteJsPartial"); }
    @RenderSection("Scripts", required: false)
</body>
</html>
