<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MaintenanceDBContext" connectionString="data source=MURU-XPS;Database=MaintenanceDev;Integrated Security=True;MultipleActiveResultSets=true;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>