<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MaintenanceDBContext" connectionString="data source=SIVA\SQLEXPRESS;initial catalog=MaintenanceDev;user id=sa;password=Sqlexpress2016;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>